.container{
    width: 1000px;
    margin: 0 auto;
}
.tall{
    height: 1000px;
    width: 100%;
    background-color: #c3c3c3;
}
.mt20{
 margin-top: 20px;
}
.mt50{
    margin-top: 50px;
}
.mt100{
    margin-top: 100px;
}
.bg__red{
    background-color: red;
}
.container__unlimited{
    width: 100%;
}